body {

}

#Twinkling_Stars {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
h1 {
    color: white; 
    position: relative; 
    display: flex; 
    justify-content: center;
}