html {
    scroll-behavior: smooth;
  }

  html::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#Twinkling_Stars {
    position: fixed;
    z-index: -999;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* display: hidden; */
  }

  body {
    cursor: url('../../carbon_rocket.png'),auto;
  }
  

  button:hover {
    cursor: url('../../carbon_rocket_click.png'),auto;
  }

  a:hover{
    cursor: url('../../carbon_rocket_click.png'),auto;
  }

  #Images {
    width: 50%;
    height: 100%;
  }